body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

#main {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 92%;
    padding: 20px 4%;
    background-color: #eee;
}

h1 {
    font-size: 50px;
    font-weight: 200;
}

#title {
    text-align: center;
    width: 100%;
}

#img-div {
    width: 100%;
    box-shadow: 3px 3px 5px #aaa;
    background-color: #6a89cc;
    margin-bottom: 30px;
}

#image {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
    opacity: 0.9;
}

#img-caption {
    width: 92%;
    padding: 6px 4%;
    text-align: center;
    font-size: 12px;
    background-color: #fff;
}

#tribute-info {
    width: 92%;
    padding: 0px 4% 20px 4%;
    background-color: #fff;
    box-shadow: 3px 3px 5px #aaa;
    margin-bottom: 30px;
}

#tribute-info li {
    margin: 6px 0;
}

#books-div {
    width: 92%;
    padding: 0px 4% 20px 4%;
    box-shadow: 3px 3px 5px #aaa;
    background-color: #fff;
    margin-bottom: 30px;
}

.book-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
}

.book-img-div {
    width: 20%;
}

.book-img-div img {
    width: 100%;
}

.book-info-div {
    width: 76%;
    padding: 0 2%;
}

.book-info-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.book-info-description {
    font-size: 16px;
}

#tribute-link {
    width: 100%;
    text-align: center;
}
